@page "/"
@model ProiectMediiProgramare.Pages.Saloane.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Saloane</h1>

<p>
    <a asp-page="Create">Adauga un nou Salon</a>
</p>
<form method="get">
    <input type="text" name="SearchString" value="@Model.SearchString" />
    <select name="SelectedCategoryId">
        <option value="">-- Select Category --</option>
        @foreach (var category in (SelectList)ViewData["CategorieID"])
        {
            <option value="@category.Value" selected="@(Model.SelectedCategoryId.ToString() == category.Value ? "selected" : null)">@category.Text</option>

        }
    </select>
    <input type="submit" value="Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Oras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salon[0].Categorie)
            </th>
            <th>
                Stilisti
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salon) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.NumeCategorie)
            </td>
                <td>
                    @if (item.Stilisti != null)
                    {
                        foreach (var stylist in item.Stilisti)
                        {
                            <span>@stylist.Nume</span>

                            <br />
                        }
                    }
                </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
