@page
@model ProiectMediiProgramare.Pages.Orase.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Orase</h1>

<p>
    <a asp-page="Create">Adauga un nou Oras</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oras[0].Nume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oras in Model.Oras)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => oras.Nume)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@oras.ID">Edit</a>
                    <a asp-page="./Details" asp-route-id="@oras.ID">Details</a>
                    <a asp-page="./Delete" asp-route-id="@oras.ID">Delete</a>
                    <!-- Select Form -->
                    <form method="get" asp-page="./Index" style="display:inline;">
        <input type="hidden" name="selectedOrasId" value="@oras.ID" />
                        <input type="submit" value="Select" class="link-button" />
    </form>
                </td>
            </tr>
        }

        @if (Model.SelectedSaloane != null && Model.SelectedSaloane.Any())
        {
            <tr>
                <td colspan="2">
                    <h2>Saloane for @Model.SelectedOrasName</h2>
                    @foreach (var salon in Model.SelectedSaloane)
                    {
                        <p>@salon.Nume</p>
                    }
                </td>
            </tr>
        }

        


    </tbody>
</table>
