@page
@model ProiectMediiProgramare.Pages.Orase.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oras[0].Nume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oras in Model.Oras)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => oras.Nume)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@oras.ID">Edit</a> 
                    <a asp-page="./Details" asp-route-id="@oras.ID">Details</a> 
                    <a asp-page="./Delete" asp-route-id="@oras.ID">Delete</a>
                </td>
            </tr>
            @if (oras.Saloane != null && oras.Saloane.Any())
            {
                foreach (var salon in oras.Saloane)
                {
                    <tr>
                        <td colspan="2">
                            Salon Name: @Html.DisplayFor(modelItem => salon.Nume)
                        </td>
                    </tr>
                }
            }
        

}
    </tbody>
</table>
